<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{url_for('static', filename='dashboard.css')}}">
</head>
<body>

    <nav>
        <div>
            Autober
        </div>

        <div>
            <ul>
                <li> Home </li>
                <li> About </li>
                <li> Lorem ipsum </li>
            </ul>
        </div>
    </nav>
    <div class="main">
        <div class="col-section1">
            <div>
                Name
            </div>
            <div>
                Progress
            </div>
            <div class="button">

            </div>
        </div>
        <div class="col-section2">


            <div class="plate1">
                Angkush Tarachand
            </div>
            <div class="plate2">
                <div> Users </div>
                <div> 9000+ </div>
            </div>
            <div class="plate3">

            </div>
        </div>
    </div>
</body>
</html>